:root {
  --white: #fff;
  --black: #000000;
  --gray1: #202020;
  --gray2: #1a1d1f;
  --gray3: #2e2e30;
  --gray4: #535557;
  --gray5: #71787e;
  --gray7: #b2becd;
  --gray8: #e3e3e4;
  --gray9: #f8f8f8;
  --transition-speed: 600ms;
  font-size: 16px;
  font-family: "equinox regular";
}

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

.light {
  --bg: var(--gray9);
  --bg-nav: var(--gray8);
  --bg-dropdown: var(--gray9);
  --text: var(--black);
}

.dark {
  --bg: var(--gray1);
  --bg-nav: var(--gray3);
  --bg-dropdown: var(--gray1);
  --text: var(--white);
}

body {
  margin: 0;
  padding: 0;
  color: var(--text);
  background: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

a {
  color: currentColor;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}
.logo {
  margin-left: -20px;
  height: 375px;
  width: auto;
  margin-top: -80px;
  margin-bottom: -150px;
  position: absolute;
}

.bg-image {
  padding: 0;
  margin: 0;
  height: 200px;
  width: 533px;
  object-fit: cover;
}
.navbar {
  position: fixed;
  background: var(--bg-nav);
  color: var(--text);
  transition: width 200ms ease;
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0) opacity(1);
  background: var(--bg-dropdown);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.fa-solid {
  min-width: 2rem;
  margin: 0 1.5rem;
  font-size: 1.5rem;
  color: var(--text);
  transition: var(--transition-speed);
}

.dropdown {
  position: absolute;
  padding: 2rem;
  left: 16rem;
  bottom: 0;
  opacity: 0;
  z-index: 2;
  background: var(--bg-dropdown);
  border-left: 2px solid var(--text);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;

  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;

  transition: opacity 0.15s ease-in;
}

.has-dropdown:hover .dropdown {
  opacity: 1;
  pointer-events: auto;
}
header {
  padding: 1em;
  background: rgba(2, 8, 20, 0.1);
  margin-bottom: 1em;
  text-align: center;
}

/* Small Screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    
    .navbar-nav {
        flex-direction: row;
    }
    
    .nav-link {
        justify-content: center;
    }
    
    main {
        margin: 0;
    }
}
/* large Screens */

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: block;
  }
}
