:root {
  --white: #fff;
  --black: #000000;
  --gray1: #111111;
  --gray2: #222222;
  --gray3: #333333;
  --gray4: #444444;
  --gray5: #555555;
  --gray6: #ffffff;
  --gray7: #81887e;
  --gray8: #bfc7c1;
  --gray9: #d8dcda;
  --gray10: #edf3f2;
  /* half life colors */
  --orange: #fb7e14;
  --black: #000000;
  --gray11: #151515;
  --gray12: #292929;

  --transition-speed: 250ms;
  font-size: 16px;
  font-family: "Barlow Condensed";
}

* {
  box-sizing: border-box;
}

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

.light {
  --bg: var(--gray10);
  --bg-nav: var(--gray8);
  --bg-dropdown: var(--gray9);
  --text: var(--black);
  --icon: var(--text);
}

.dark {
  --bg: var(--gray1);
  --bg-nav: var(--gray3);
  --bg-dropdown: var(--gray2);
  --text: var(--white);
  --icon: var(--text);
}

.half-life {
  --bg: var(--gray11);
  --bg-nav: var(--orange);
  --bg-dropdown: var(--gray12);
  --text: var(--white);
  --icon: var(--gray12);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  max-width: 1400px;
  color: var(--text);
  background: var(--bg);
  transition: background 150ms ease-in-out, color 250ms ease-in-out;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--bg-dropdown);
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0% 100%, 0.25),
    inset -2px -2px -2px rgba(0, 0, 0, 0.25);
}

p {
  font-size: 20px;
}

a {
  color: currentColor;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 1em;
  padding-top: 0;
  /* background: rgba(2, 8, 20, 0.1); */
  margin-bottom: 1em;
  text-align: center;
  height: auto;
}

main {
  margin-top: 15rem;
  margin-left: 15rem;
  padding: 2rem;
  z-index: -1;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: auto;
}

.navbar {
  position: fixed;
  background: var(--bg-nav);
  color: var(--text);
  transition: width 200ms ease;
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
  z-index: 1;
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--icon);
  text-decoration: none;
  transition: var(--transition-speed);
}

.nav-link:hover {
  background: var(--bg-dropdown);
  color: var(--text);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.fa-solid {
  min-width: 2rem;
  margin: 0 1.6rem;
  font-size: 1.5rem;
  transition: var(--transition-speed);
}

.fa-solid:hover {
  animation: color-rotate 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: red;
}

.dropdown {
  position: absolute;
  padding: 2rem;
  left: 16rem;
  bottom: 0;
  opacity: 0;
  z-index: 2;
  background: var(--bg-dropdown);
  border-left: 2px solid var(--text);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;

  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;

  transition: opacity 0.15s ease-in;
}

.logo-header {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  margin-left: 0px;
  height: 100%;
  max-height: 375px;
  width: 100%;
  max-width: 450px;
  margin-bottom: -150px;
  position: fixed;
  object-fit: cover;
  margin-top: 8rem;
  z-index: 1;
  transition: 0.2s;
}

#bg-image {
  padding: 0;
  margin: 0;
  height: 30rem;
  width: 1400px;
  object-fit: cover;
  user-select: none;
  position: fixed;
  pointer-events: none;
  filter: brightness(0.9);
  transition: 0.2s;
}

/* media icons */

#media-icons {
  margin-top: 25rem;
  margin-left: 70rem;
  font-size: 1.8rem;
  position: fixed;
  transition: 0.2s;
  color: var(--white);
}

.fa-brands {
  padding: 0.5rem;
}

/* Cards style */

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  max-width: 916px;
  width: calc(100% - 20px);
}

.card {
  background-color: var(--bg-dropdown);
  border-radius: 10px;
  cursor: pointer;
  height: 260px;
  position: relative;
  width: 300px;
}

.card:hover::before,
.card:hover > .card-border {
  opacity: 1;
}

.card::before,
.card > .card-border {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 70%
  );
  z-index: 3;
}

.card > .card-border {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.05),
    transparent 60%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  height: calc(100% - 2px);
  margin: 1px;
  position: relative;
  width: calc(100% - 2px);
  z-index: 2;
}

.card-content {
  text-align: center;
  padding: 1.5rem;
}

/* Hidden Transition Scroll */

.hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-5%);
  transition: all 0.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
/* Small Screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
    margin-top: 12rem;
  }
  .has-dropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
  }
  #logo {
  max-height: 180px;
  max-width: 280px;
  margin-top: 2.8rem;
 
}

#bg-image {
  height: 10rem;  
  filter: brightness(0.6);  
}

}
/* large Screens */

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: block;
  }
  .has-dropdown:hover .dropdown {
    opacity: 1;
    pointer-events: auto;
  }
}
